/* components/Responsivepost-card.module.css */

.post-card {
  /* position: relative; */
  /* overflow: hidden; */
  border-radius: 5px;
}

.post-caption {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  }

.image {
  border-radius: 8px;
}

.post-card:hover .image {
  box-shadow: 1px 4px 8px rgba(0, 0, 0, 0.7);
}

/* .body {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.2);
  color: white;
  opacity: 0;
  transition: opacity 0.3s ease;
  padding: 16px;
} */

/* .post-card:hover .body{
  transform: scale(1);
} */




