/* components/Responsivepost-card.module.css */

.post-card {
  /* position: relative; */
  /* overflow: hidden; */
  border-radius: 5px;
  cursor: pointer;
}

.post-caption {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  cursor: pointer;
}

.image {
  border-radius: 8px;
}

.post-card:hover .image {
  box-shadow: 1px 4px 8px rgba(0, 0, 0, 0.7);
}

.carousel-image {
  border-radius: 8px;
  width: 100%;
  height: 100%;
  object-fit: contain; /* Maintain aspect ratio while fitting within the container */
}




